extra-streamlit-components
streamlit==1.40.2
streamlit-authenticator
streamlit-cookies-manager
streamlit-feedback
streamlit-option-menu
bcrypt
numpy==1.26.4
pandas==2.2.3
boto3
botocore
authlib
streamlit-aggrid
streamlit_ace
joblib
streamlit-code-editor
PyAthena
SQLAlchemy