altair
aws-s3-tools
awswrangler
boto3
botocore
graphviz
imblearn
interpret
ipykernel
joblib
kaleido
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-openai
langsmith
lightgbm
matplotlib
numpy
pandas
papermill
prophet
python-dotenv
pyyaml
s3fs
scikit-learn
seaborn
shap
uv
workalendar
PyAthena
SQLAlchemy
xgboost
mlflow
jinja2
pytz
sagemaker==2.*